## 1st ASSAINMENT

## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In the given question , the values are        - ' hello ' , -87.8 , 6
                       the expressions are   -  * , - , / , +

## 2. What is the difference between string and variable?

STRING:
A string is a datatype ,which is used to assaign a character to within quotations that is " " or ' ' . A string may be a ' character ' or ' a character ' or ' an integer ' or ' a special-character ' or any value which is written inside a single or duble quotes is considered as a string. 

VARIABLE:
A variable is used to store a value in it, any datatype value it may a string or a float or an integer or a composite value . we ' = '  operator to assaign a value.

In [ ]:
#example
a = "nravi"                      # in this 'a'  is a variable it stores the value called "string"  nravi
print(a)

## 3. Describe three different data types.

They are four data types in python mainly we use 
1. Integer 
2. Float
3. String

INTEGER : This is one of the most important datatype in python . It is used to store a integer number . The data type we used for integer is "INT" .

FLOAT DATATYPE: This is used to store a decimal number , it might be postive or negative . The datatype used is "FLOAT" .

STRING DATATYPE: This datatype is used to store a character or an alphabet or an integer or any thing inside the quotes is considered as a string value . The datatype we used is "STR" . we can write a string within " " or ' ' .  they are so many functions are present in string datatype .

In [6]:
a = 254863                             # integer value
b = -58.326                             # float value
c = ' nravi 2345667 '                    # string value within singlr quotes ' '
d = " nravi 25.325 $%^ "                # string value within doublequotes " "
print( a , type(a))
print( b , type(b))
print( c , type(c))
print( d , type(d))

254863 <class 'int'>
-58.326 <class 'float'>
 nravi 2345667  <class 'str'>
 nravi 25.325 $%^  <class 'str'>

## 4. What is an expression made up of? What do all expressions do?

AN EXPRESSION is a mathematical function, it consists of operators and operands . Some of the expressions will do some kind of functions that i.e., concatination , multiplication of a string value . We can do string operations also.
the operators are + , - , * , / , %, ** .

In [11]:
a = 2
b = 3
c = ' navi'
d = ' ravi '             
# in a , b , c , d are operands
print( a+b )          # we add two numbers
print( a-b )          # we subtract two numbers
print( a/b )          # we divide a from b
print( a*b )         # we multiply the two numbers
print( a%b )        # by using module we get the reminder 
print( a**b )        # it is the most important operator exponential
print( c+d )         # in this expression we add two sring values , we say it as concatnation
print( c*b )         # in this we multiply a string value

5
-1
0.6666666666666666
6
2
8
 navi ravi
 navi navi navi

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression consists of operators and operands , the statement may be a an expression assaign to variable or anything , we can say a statement when a variable assaigned with a value with ' = '  sign inbetwwen the variable and value is called a statement .

In [12]:
a = 4
b = 5
c = a+b              # statement and (a+b) is a expression
print( c )

9

## 6. After running the following code, what does the variable bacon contain?
bacon = 22 
bacon + 1

In [14]:
bacon = 22                    # in this we take 22 as a value for bacon
bacon = bacon+1              # we add '1' to 22
print(bacon)                   # then we get 23 , that is value present in bacon variable

23

## 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [15]:
'spam' + 'spamspam'          # in this it concats the value

'spamspamspam'

In [17]:
'spam' * 3                   # in this it mulpiy the value 3 times

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

A Variable name is a place a data is stored . they are some of the rules that to consider a value or anything it as a variable name. 
1. a variable name must start with a alphabet or and underscore .
2. a variable name is case sensitive .
3. a variable name doest start with an integer or a alpha_numeric or a special character except under score .

That is why ' eggs '  is valid variable number and ' 100 ' is a invalid variable name

In [24]:
# examples
eggs ='navya'

In [25]:
100 = 'navya'    # error arise if we assign value to the 100

SyntaxError: cannot assign to literal (<ipython-input-25-d9e37f38a0f4>, line 1)

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The three functions are int() , float() , str() .

In [37]:
a = 10
b = str(a)
c = int(a)
d = float(a)
print( b , type(b))
print( c , type(c))
print( d , type(d))

10 <class 'str'>
10 <class 'int'>
10.0 <class 'float'>

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [41]:
 ' i have eaten'+ 99 + 'burritos'           #can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [45]:
' i have eaten'+' '+'99'+' '+ 'burritos' # resoving by applying quotes to the integer ,if we do like that ,it will become a string value

' i have eaten 99 burritos'